<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       ">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://gopersist.com:3306/tsh_crud_demo?useUnicode=true&amp;characterEncoding=utf8"/>
		<property name="username" value="tsh" />
		<property name="password" value="tsh1" />
		
		<!-- 启动时创建的连接数 -->
		<property name="initialSize" value="5" />
		<!-- 同一时间可从池中分配的最多连接数，如果设置为0则无限制 -->
		<property name="maxActive" value="10" />
	</bean>
</beans>