<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       ">

	<!-- 数据验证拦截器 -->
	<bean id="validationInterceptor" class="com.gopersist.demo.tsh.thrift.ValidationInterceptor" />
	
	<aop:config>
		<aop:aspect ref="validationInterceptor">
			<aop:before method="before" pointcut="execution(* com.gopersist.demo.tsh.thrift..*.*(..)) and args(..)"/>
		</aop:aspect>
	</aop:config>
</beans>